@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-background-surface: #f9f9f9;

  --color-foreground: #000000;
  --color-muted: #555555;

  --color-primary: #EE204E;
  --color-primary-hover: #A31739;
  --color-primary-subtle: #FCE7EC;

    --font-sans: "Kumbh Sans", sans-serif;
    --font-mono: "Space Grotesk", monospace;
}
